@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'DM Sans', sans-serif; /* Use the DM Sans font here */
}

@layer base {
  :root {
    --primary: #252525; /* Primary color */
    --secondary: #E2E2E2; /* Secondary color */
    --accent: #14AED5; /* Accent color */
    --background: #FFFFFF; /* Background color */
    --foreground: #333333; /* Foreground color */
    --radius: 0.5rem; /* Border radius */
    /* Add any other colors or variables here */
  }
  
  .dark {
    --primary: #FFFFFF; /* Primary color for dark mode */
    --secondary: #333333; /* Secondary color for dark mode */
    --accent: #14AED5; /* Accent color for dark mode */
    --background: #333333; /* Dark background */
    --foreground: #FFFFFF; /* Light text for dark mode */
    /* Add any other dark mode variables here */
  }
}

@layer base {
  * {
    @apply border-border; /* Apply border color for all elements */
  }

  body {
    @apply bg-background text-foreground; /* Apply background and text color */
  }
}
